@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    box-sizing: border-box;
   
}
body{
    background: url("./back.jpg");
    background-size: cover;
    background-position: center, center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
h1{
    color: white;
    letter-spacing: 0.3em;
    font-weight: normal;
    font-size: 4rem;
    margin-top: -10rem;
}
.countdown-container{
    display: flex;
}
.big-text{
    color: white;
    margin: 2rem;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
}
.countdown-el{
    text-align: center;
}
.countdown-el span{
    color: white;
    font-size-adjust: 1.5rem;
}